.container img {
    height: 400px;
    width: 400px;
    margin: 0;
}

.container {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FFE2E2;
}

.textpart {
    display: flex;
    flex-direction: column;

    flex-basis: 50%;
}

.textpart p {
    margin-top: 10px;
}


@media screen and (max-width: 960px) {
    img {
        width: auto;
        height: 300px;
    }
}